{% extends "base.html" %}
{% block content %}
<div class="login"> 
 	 <h1>Hi , Agent  ! </h1> 
   
     <form method="post"> 
   <table> 
     <tr> 
       <th> 
       <input type="text" name="u" placeholder="Username" required="required" /> 
       </th> <th > <input type="password" name="p" placeholder="Password" required="required" /> </th> 
     </tr> 
     <tr> 
 
     </tr> 
       </table> 
             <button type="submit" class="btn btn-primary btn-block btn-large" > 
       Login </button>    
     </form> 
 </div>
{% endblock %}